@import url(normalize.css);
@import url(keyframes.css);
@import url(fonts.css);
:root{
  scroll-behavior: smooth;
  --back-gradient-1: linear-gradient(71.18deg,rgb(0,34,255),rgb(0,34,255),rgba(81,121,254),rgb(165,237,182),rgb(250,232,90),rgb(253,172,62),rgb(255,92,0));
  --color-primary: #000;
  --color-primary-transparent:#0000007e;
  --color-primary-transparent-2:#00000022;
  --color-primary-transparent-3: #00000033;
  --color-secundary: #fff;
  --color-secundary-transparent:#ffffff1b;
  --color-secundary-transparent-2: #ffffff63;
  --color-pink-extralight: #e9e3eb;
  --color-gray-transparent: #A0989553;
  --color-gray-transparent-2: #80808053;
  --color-pink: #f6a8db;
  --color-pink-2: #cb92b7;
  --color-blue: #2d81f6;
  --color-red: #e91b1b;
  --color-red-transparent: #e67f7f53;
  --color-yellow-transparent: #F4CF0F53;
  --color-yellow-light: #fffb82;
  --color-yellow-bold: #984;
  --color-yellow: #ffd901;
  --color-green-transparent: #74BD4A53;
  --color-greenyellow: #7be91b;
  --color-purple-light: #f4e6fd;
  --color-pruple-transparent: #f104e953;
  --color-purple: #7911d4;
  --color-purple-bold: #430741;
  --color-purple-dark: #230722;
  --color-purple-dark-transparent: #230722bf;
}
.hero {
  display: grid;
  grid-template-columns: repeat(6,minmax(auto,1fr));
  grid-template-rows: 6rem 1fr auto;
  grid-template-areas: 
  "header header header header header header"
  "main   main   main   main   main  main"
  "footer footer footer footer footer footer";
  font-family: "Open Sans", sans-serif;
}
.hero__header {
  position: fixed;
  left: 0;
  right: 0;
  height: 6rem;
  grid-area: header;
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  gap: 2rem;
  background-color: var(--color-pink);
  border-bottom: 0.2rem double;
  z-index: 2;
}
.main-header{
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.bird-fly,
.main-header__logo {
  display: block;
  width: 6.25rem;
  height: 5rem;
  background: url(https://www.dropbox.com/s/w5yalknpsrjsr2w/parrot-1.png?raw=1) no-repeat;
  animation: fly-bird 0.7s steps(9) infinite;
  transition: 0.4s ease-in-out;
}
.main-header__title{
  font-size: max(3rem, 5.5vw);
}
/* bloque navbar */
.u-list{
  display: flex;
}
.u-list__link{
  font-size: 0.75rem;
  transition: 0.1s linear;
}

/* navbar */
.navbar{
  gap: 2rem;
  flex-flow: row wrap;
  margin: 0 2rem;
}
.navbar__item{
  border-radius: 1rem;
}
.navbar__link{
  display: block;
  padding: 0.3rem 0.5rem;
  letter-spacing: 0.1rem;
  color: var(--color-blue);
  font-weight: 900;
  text-transform: uppercase;
}
.navbar__toggle{
  display: none;
}
/* main */
.hero__main {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(6,minmax(auto,1fr));
  grid-template-rows:  auto repeat(3,auto);
  grid-template-areas: 
  "banner banner banner banner banner banner"
  "intro intro intro intro intro intro"
  "galery galery galery galery galery galery"
  "form form form form form form";
  ;
  background-color: var(--color-pink-extralight);
}
.banner {
  grid-area: banner;
  min-height: 50vh;
  background: url(https://www.dropbox.com/s/x606geuagdj4gq8/mountain-purple.png?raw=1) no-repeat center;
  background-size: cover;
}
/* intro */
.intro-container {
  grid-area: intro;
  display: flex;
  flex-flow: column wrap;
  gap: 4rem;
  padding: 2rem max(10vw);
  overflow-x: hidden;
}
.title-base{
  padding: 2rem;
  text-align: center;
  background: var(--back-gradient-1);
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  animation: backg-move 8s linear infinite;
  text-shadow: 1px 1px 1px #0000001a;
}
.intro-container__proyect{
  position: relative;
  align-self: flex-start;
  padding: 2rem 0;
  z-index: 0;
  box-shadow: 0.2rem 0.2rem 0.3rem var(--color-primary-transparent-3),
  -0.2rem -0.2rem 0.3rem var(--color-primary-transparent-3);
}
.intro-container__proyect--align-self-end{
  align-self: flex-end;
}
.project__square-logo{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
.project__square{
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--color-pruple-transparent);
  transform: translateX(75%) translateY(75%);
  clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
  z-index: -1;
}
.project__square-2{
  background-color: var(--color-yellow-transparent);
  transform: translateX(0%) translateY(150%);
}
.project__square-2--green{
  background-color: var(--color-green-transparent);
}
.project__square-2--gray{
  background-color: var(--color-gray-transparent);
}
.project__square-3{
  background-color: var(--color-gray-transparent);
  transform: translateX(150%) translateY(0%);
}
.project__square-3--red{
  background-color: var(--color-red-transparent);
}
.project__title{
  position: relative;
  padding: 2rem 0;
  letter-spacing: 0.1rem;
}
.project__title--rigth{
  text-align: right;
}
.project__description{
  padding: 2rem;
  margin: 0 auto ;
  line-height: 1.2;
  font-size:1rem;
  font-weight: 500;
}
.project__description::after{
  position:absolute;
  inset: 0;
  content: "";
  background-color: var(--color-secundary);
  z-index: -2;
}
.project__description:before{
  position:absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: url(https://www.dropbox.com/s/8yek98lt94yu500/html.png?raw=1)no-repeat left top, url(https://www.dropbox.com/s/oyetaruvvkfb66y/css.png?raw=1) no-repeat center, url(https://www.dropbox.com/s/t1278esmsp7qhr4/javascript.png?raw=1) no-repeat right bottom;
  background-size:10% 25%;
  z-index: -1;
}
  .project__container-bird{
  position: absolute;
  top: 0;
  right: 0;
  z-index: -3;
  transition: 3s linear 0.2s;
}
.bird-fly--bird-silver{
  background-image: url(https://www.dropbox.com/s/hmv3ooo6707krnl/loro-gray.png?raw=1);
}
.bird-fly--rotateY-180--bird-green{
  transform: rotateY(180deg);
  background-image: url(https://www.dropbox.com/s/ir4jf7q6i4dlief/loro-green.png?raw=1);
}
.bird-fly--bird-gray{
  background-image: url(https://www.dropbox.com/s/ndzzq40tfm85uj5/loro-silver.png?raw=1);
}
.up-btn__container{
  position: fixed;
  bottom: 15%;
  right: 1%;
  border-radius: 50%;
  opacity: 0.7;
  z-index: 4; 
}
/* up-btn */
.up-btn{
  position: relative;
  display: inline-block;
  width: max(4rem, 4.5vw);
  height: max(4rem, 4.5vw);
  border-radius: 50%;
  background-color: var(--color-pink-extralight);
  overflow: hidden;
  z-index: 0; 
}
.up-btn::before{
  position: absolute;
  content: "";
  width: 100%;
  height: 10%;
  top: 50%;
  left: 50%;
  background: linear-gradient(to left, var(--color-primary), var(--color-yellow-bold));
  box-shadow: 1rem 1rem 1rem var(--color-primary), -1rem -1rem 1rem var(--color-yellow-bold);
  transform: translate(-50%, -50%);
  animation: roll 10s ease-in-out infinite;
  z-index: -2;
}
.up-btn::after{
  position: absolute;
  border-radius: 50%;
  background-color: var(--color-secundary);
  content: "";
  inset: 0.15rem;
  z-index: -1;
}
.up-btn__link{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(https://www.dropbox.com/s/87wbk25xnp2knly/to-up%20%281%29.png?raw=1);
  background-size: cover;
  transform: scale(0.8);
  animation: scaleBtn 1.5s linear infinite;
}
/* gallery */
.gallery{
  width: 100%;
  grid-area: galery;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 6rem 0.5rem;
}
.gallery__header{
  width: 100%;
}
.gallery__card {
  position: relative;
  flex: 0 1 max(18vw, 10rem);
  overflow: hidden;
}
.gallery__img {
  height: max(18vw, 10rem);
  object-fit: fill;
}
.gallery__icon-container{
  display: flex;
  position:absolute;
  bottom: 0;
  width: 100%;
  justify-content: space-evenly;
  gap: 1rem;
  background: var(--color-primary-transparent);
  opacity: 0;
}
.gallery__icon-btn{
  width: 2rem;
  height: 2rem;
  padding: 0.2rem;
  border: none;
  border-radius: 0.5rem;
  background-color: transparent;
  cursor: pointer;
}
.gallery__card:hover .gallery__icon-container{
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.1s linear 0.3s;
}
.gallery__icon-btn:hover{
  background-color: var(--color-secundary-transparent-2);
  transform: scale(0.8);
  transition: transform 0.1s linear ;
}
/* card style 1 */
.gallery__card:nth-child(5n + 1):hover .gallery__img{
  transform: scale(1.2);
  transition: transform 0.2s linear;
}
.gallery__card:nth-child(5n + 1) .gallery__icon-container{
  width: 80%;
  height: 60%;
  top: 50%;
  left: 50%;
  flex-flow: nowrap;
  align-items: center;
  gap: 0;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
}
.gallery__card:nth-child(5n + 1) .gallery__icon-btn{
  width: 3rem;
  height: 3rem;
}
/* card style 2 */
.gallery__card:nth-child(5n + 2) .gallery__icon-container {
  height: 100%;
  width: 30%;
  flex-flow: column nowrap;
  align-items: center;
  gap: 0;
  transform: translateX(-100%);
  transition: transform 0.3s linear;
}
.gallery__card:nth-child(5n + 2) .gallery__icon-container::before{
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background-color: var(--color-primary);
}
.gallery__card:nth-child(5n + 2):hover .gallery__icon-container::before{
  animation: desvelar-menu 0.4s linear forwards 0.4s;
}
.gallery__card:nth-child(5n + 2):hover .gallery__icon-container {
  transform: translateX(0%);
}
.gallery__card:nth-child(5n + 2) .gallery__icon-btn{
  width: 2.5rem;
  height: 2.5rem;
}
/* card style 3 */
.gallery__card:nth-child(5n + 3):hover{
  transform: rotateY(360deg);
  border-radius: 50%;
  box-shadow: 0.1rem 0.1rem 1rem;
  transition: border-radius 0.2s linear, transform 0.9s ease-in-out 0.2s;
}
.gallery__card:nth-child(5n + 3) .gallery__icon-container {
  height: 50%;
  width: 50%;
  border-radius: 50%;
  align-items: center;
  flex-flow: row wrap;
  padding: 0.5rem;
  gap:0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
/* card style 4 */
.gallery__card:nth-child(5n + 4){
  position: relative;
  border-radius: 1.5rem;
}
.gallery__card:nth-child(5n + 4) .gallery__icon-container{
  z-index: 2;
}
.gallery__card:nth-child(5n + 4)::before,
.gallery__card:nth-child(5n + 4)::after{
  position: absolute;
  inset: 0;
  content: "";
  clip-path: circle(0.0% at 50% 50%);
  transition: clip-path 0.3s linear;
}
.gallery__card:nth-child(5n + 4):hover::before{
  background-color: var(--color-primary-transparent-2);
  clip-path: circle(70.7% at 50% 50%);
}
.gallery__card:nth-child(5n + 4):hover::after{
  background-color: var(--color-secundary-transparent);
  clip-path: circle(70.7% at 50% 50%);
  transition: clip-path 0.3s linear 0.3s;
}
/* card style 5 */
.gallery__card:nth-child(5n + 5)::before{
  position: absolute;
  content: "";
  height: 5%;
  width: 5%;
  top: 50%;
  left: 50%; 
  border-radius: 50%;
  background-color: transparent;
  box-shadow: 1.5rem 1.5rem 0.5rem var(--color-yellow), -1.5rem -1.5rem 0.5rem var(--color-greenyellow),-1.5rem 1.5rem 0.5rem var(--color-red), 1.5rem -1.5rem 0.5rem var(--color-blue);
  animation: roll 10s linear infinite;
  opacity: 0;
}
.gallery__card:nth-child(5n + 5):hover::before{
  top: 15%;
  left: 15%; 
  box-shadow: 0.5rem 0.5rem 0.3rem var(--color-yellow), -0.5rem -0.5rem 0.3rem var(--color-greenyellow),-0.5rem 0.5rem 0.3rem var(--color-red), 0.5rem -0.5rem 0.3rem var(--color-blue);
  opacity: 1;
  transition: top 0.8s ease-in-out 0.5s, left 0.8s ease-in-out 0.5s, box-shadow 0.5s linear;
}
/* form */
.section-form{
  grid-area: form;
  padding: 2rem 0;
}
.section-form__template{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 4rem;
  gap: 2rem;
}
.section-form__container-img{
  flex: 0 1 40%;
}
.section-form__img{
  margin: 0 auto;
}
.form-contac{
  flex: 1 1 50vw;
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  gap: 2rem;
}
.form-contac__sub-section{ 
  flex: 0 1 ;
  padding: 0 1rem;
  position: relative;
  border: solid 1px var(--color-purple-dark);
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.2rem 0.3rem var(--color-primary-transparent-3),
  -0.2rem -0.2rem 0.3rem var(--color-primary-transparent-3);
  z-index: 1;
}
.form-contac__sub-section::before{
  content: "";
  position: absolute;
  width: 104%;
  height: 102%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--back-gradient-1);
  clip-path: circle(1% at 0% 0%);
  transition: clip-path 0.8s linear;
  border-radius: 0.5rem;
  opacity: 0.5;
  z-index: -2;
}
.form-contac__sub-section::after{
  position: absolute;
  inset: -0.1rem;
  border-radius: 0.5rem;
  background-color: var(--color-pink-extralight);
  content: "";
  z-index: -1;
}
.form-contac__question-container{
  margin: 1rem auto;
}
.form-contac__question{
  display:inline-block;
  padding: 0.5rem 1rem;
}
.form-contac__question--d-inline{
  display: inline;
}
.form-contac__question__link{
  color: var(--color-blue);
  font-weight: 900;
}
.form-contac__reply--w-100{
  width: 100%;
}
.form-contac__reply::placeholder{
  color: var(--color-blue);
}
.form-contac__reply{
  padding:  0.5rem 1rem;
  border: none;
  border-radius: 0 0..5rem 0.5rem 0;
}
.form-contac__reply--resize-none{
  resize: none;
}
.form-contac__reply{
  color: var(--color-blue);
  background-color: var(--color-secundary);
}
.form-contac__T-y-C{
  flex: 1 0 100%;
  text-align: center;
}

/* buttons */
.form-contac__btn-container{
  flex: 1 0 100%;
  text-align: center;
}
.form-contac__btn {
  margin: 1rem;
  position: relative;
  padding: 0.8rem 2.5rem;
  border: none;
  box-shadow: 0.2rem 0.2rem 0.5rem rgb(0, 0, 0, 0.5);
  font-weight: 900;
  text-transform: uppercase;
  border-radius: 1rem;
  background-color: #f4e6fd;
  color: var(--color-purple);
  transition: color 0.4s linear;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
}
.form-contac__btn::before{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15rem;
  height: 1rem;
  content: "";
  background: var(--color-purple);
  box-shadow: 1rem 1em 1rem var(--color-purple),
  -1rem -1rem 1rem var(--color-purple);
  z-index: -2;
  visibility: hidden;
}
.form-contac__btn::after{
  position: absolute;
  inset: 0.2rem;
  content: "";
  border-radius: 1rem ;
  background-color: var(--color-purple-light);
  z-index: -1;
}

/* footer */
.hero__footer {
  grid-area: footer;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: baseline;
  gap: 1.5rem;
  background-color: var(--color-purple-dark);
}
.sub-list {
  flex: 0 1 15rem;
  padding: 2rem;
  margin-top: 2rem;
  min-height: 30rem;
}
.author-card__title,
.sub-list__title{
  font-size: 1.1rem;
  padding: 0rem 0rem 2rem 0rem;
  text-align: center;
  color: var(--color-blue);
  word-spacing: 0.3rem;
  letter-spacing: 0.1rem;
}
.author-card{
  flex:0 1 15rem;
  font-size: 0.8rem;
  color: var(--color-pink-extralight);
}
.author-card__img {
  width: 8rem;
  margin: 0 auto 2rem;
  border-radius: 50%;
  border: dotted 0.2rem var(--color-secundary);
}
.author-card__data {
  line-height: 2;
  text-align: center;
}
.author-card__data--margin-b-1rem{
  margin-bottom: 1rem;
}
.sub-list__container{
  flex-flow:column wrap;
}
.sub-list__item{
  padding: 0.5rem 0.5rem 0.5rem 0rem;
  color: var(--color-secundary);
}
.u-list__item--flex{
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1rem;
  padding:0.5rem;
  color: var(--color-secundary);
}
.sub-list__social-image{
  width: max(3vw, 2rem);
  display: inline-block;
  margin-right: 1rem;
}
.sub-list__social-name--line-through{
  text-decoration: line-through;
}
.sub-list__link{
  font-size: 0.8rem;
  color: var(--color-secundary);
}
.flock-birds{
  display: flex;
  min-height:15rem;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-right: 2rem;
  border-radius: 2rem;
  background-color: var(--color-secundary);
}
.flock-birds__bird--green{
  background-image: url(https://www.dropbox.com/s/ir4jf7q6i4dlief/loro-green.png?raw=1);
  animation-delay: 0.2s;
}
.flock-birds__bird--silver{
  background-image: url(https://www.dropbox.com/s/ndzzq40tfm85uj5/loro-silver.png?raw=1);
  animation-delay: 0.4s;
}
.flock-birds__bird--gray{
  background-image: url(https://www.dropbox.com/s/hmv3ooo6707krnl/loro-gray.png?raw=1);
  animation-delay: 0.6s;
}
.flock-birds__subcontainer{
  flex: 0 1 40%;
  animation: fly 5s linear infinite;
  transform: rotate(-20deg);
}
.flock-birds__subcontainer--keyframes-fly2{
  animation: fly-2 5s linear infinite;
}
.flock-birds__subcontainer--keyframes-fly3{
  animation: fly-3 5s linear infinite;
}
.flock-birds__subcontainer--keyframes-fly4{
  animation: fly-4 5s linear infinite;
}
.footer-copy{
  text-align: center;
  width: 100%;
  border-top: dotted 0.15rem var(--color-secundary);
  padding: 2rem;
  color: var(--color-secundary);
}
/* pseudoclases */
.main-header__logo:hover{
  transform: scale(1.2);
}
.u-list__link:hover{
  color: var(--color-yellow-light);
}
.u-list__item--flex:hover{
  color : var(--color-yellow-light);
}
/* navbar */
.navbar__toggle:hover{
  transform: scale(0.9);
  transition: transform 0.3s linear;
}
.navbar__item:hover{
  background-color: var(--color-pink-2);
}
/* intro */
.intro-container__proyect:hover .project__container-bird{   
  transition: transform 3s ease;
  animation: surprise-bird 5s ease 1 forwards;
}
.intro-container__proyect:hover .project__container-bird--keyframe-reverse{   
  transition: transform 3s ease;
  animation: surprise-bird-reverse 5s ease  forwards;
}

.form-contac__sub-section:hover.form-contac__sub-section::before{
  clip-path: circle(130.6% at 8% 7%);
}
.form-contac__sub-section:hover{
  transform: scale(1.05);
  transition: transform 0.2s linear;
}
.form-contac__btn:hover{
  color: var(--color-purple);
}
.sub-list:hover{
  border-radius: 0 2rem 0 2rem;
  background: var(--color-purple-bold);
  transition: background 0.2s linear;
}
.form-contac__btn:hover.form-contac__btn::before {
  animation: roll 10s linear infinite;
  visibility: visible;
}
.form-contac__btn:hover.form-contac__btn::after {
  background-color: var(--color-secundary);
}
@media only screen and (max-width: 61.9rem){
  .nav-container{
    position: fixed;
    display: none;
    width: 100%;
    top:6rem;
    right: 0;
    z-index:2;
    background-color: var(--color-purple-dark-transparent);
  }
  .nav-container--wacth{
    display: block;
  }
  .navbar{
    gap: 0;
  }
  .navbar__item{
    width: 100%;
    margin: 0.5rem 0;
    text-align: center;
  }
  .navbar__link{
    padding: 1rem;
  }
  .navbar__toggle{
    display: inline-block;
    margin-right: 1rem;
    border: none;
    font-size: 3rem;
    font-weight: 900;
    background-color: var(--color-pink);
    cursor: pointer;
  }
}
/* Mediaqueries */
@media only screen and (max-width: 49rem){
  .flock-birds{
    flex: 0 1 15rem;
    margin-right: 2rem;
    border-radius: 2rem;
  }
}
@media only screen and (max-width: 48.75rem){
  .intro-container__proyect{   
    pointer-events: none;
  }
  .project__container-bird{
    z-index: -1;
  }
}
@media only screen and (max-width: 32.5rem){
  .nav-container{
    position: fixed;
    width: max(60%, 13rem);
    bottom: 0;
    border-top-left-radius: 1rem;
  }
  .navbar__item{
    text-align:left ;
  }
  .navbar__toggle{
    position: fixed;
    width: max(4rem, 4.5vw);
    height: max(4rem, 4.5vw);
    bottom: 1%;
    right: -2.5%;
    border-radius: 50%;
    color: var(--color-secundary);
    text-align: center;
    z-index: 4;
    opacity: 0.7;
    line-height: 1.3;
  }
  .sub-list{
    min-height: auto;
  }
  .flock-birds{
    background-color: transparent;
  }
  .project__square-logo{
    display: block;
  }
  .project__description{
    margin:0 1rem;
    background-color: var(--color-yellow-transparent);
  }
  .project__description--bg-green{
    background-color: var(--color-green-transparent);
  }
  .project__description--bg-gray{
    background-color: var(--color-gray-transparent);
  }
  .project__description:before{   
    background-image: none;
  }
}
